.hero{
	position: relative;
}
.hero__picture{
	height: 232px;
	max-width: 1440px;
	margin: 0 auto;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #fff;
	background-size: cover;
}
.hero__body{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	left: 0; right: 0;
	bottom: 0;
	width: 100%;
	max-width: 1245px;
	margin: 0 auto;
	text-align: left;
	@include media('<1290px'){
		padding: 0 40px;
	}
}
.hero__text{
	position: relative;
	display: inline-block;
	padding: 6px 23px 0 18px;
	margin: 0;
	margin-bottom: -10px;
	font-size: 18px;
	font-weight: bold;
	line-height: 32px;
	background: #fff;
	color: #777b80;
	z-index: 10;
}
.hero__title{
	display: inline-block;
	margin: 0;
	padding: 12px 33px 0 18px;
	font-size: 48px;
	font-weight: bold;
	line-height: 50px;
	background: #fff;
	color: #414141;
	@include media('<992px'){
		font-size: 32px;
		line-height: 44px;
	}
}