.phone-link{
	display: flex;
	align-items: center;
	position: relative;
	text-decoration: none;
}
.phone-link__number{
	margin-right: 21px;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	color: #565f66;

	.mobile-nav__phone & {
		margin-right: 42px;
		font-size: 40px;
		line-height: 40px;
	}
}
.phone-link__icon{
	position: relative;
	width: 36px;
	height: 36px;
	margin-top: -5px;
	border-radius: 50%;
	background-color: $color__primary;
	&:before{
		content: '';
		position: absolute;
		width: 48px;
		height: 48px;
		border: 1px solid rgba(#ac608b, .7);
		border-radius: 50%;
		transform: translate(-6px, -6px);
	}
	&:after{
		content: '';
		position: absolute;
		width: 58px;
		height: 58px;
		border: 1px solid rgba(#b06a91, .4);
		border-radius: 50%;
		transform: translate(-11px, -11px);
	}
	svg{
		position: absolute;
		top: 7px; left: 9px;
		max-height: 20px;
		max-width: 20px;
		fill: #fff;
	}
}